<mat-card>
    <mat-card-title align="center">Termék módosítás</mat-card-title>
</mat-card>

<form [formGroup]="productFormGroup" align="center" style="margin: 2%;">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Név</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        <div *ngIf="productFormGroup.controls.name.touched === true">
            <mat-error *ngIf="productFormGroup.controls.name.hasError('required')">
                Mező kitöltése kötelező
            </mat-error>
            <mat-error *ngIf="productFormGroup.controls.name.hasError('maxlength')">
                A megadott input maximum 20 karakter lehet!
            </mat-error>
        </div>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Kategória</mat-label>
            <input type="text" matInput formControlName="category">
        </mat-form-field>
        <div *ngIf="productFormGroup.controls.category.touched === true">
            <mat-error *ngIf="productFormGroup.controls.category.hasError('required')">
                Mező kitöltése kötelező
            </mat-error>
            <mat-error *ngIf="productFormGroup.controls.category.hasError('maxlength')">
                A megadott input maximum 20 karakter lehet!
            </mat-error>
        </div>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Ár</mat-label>
            <input type="number" matInput formControlName="price">
        </mat-form-field>
        <div *ngIf="productFormGroup.controls.price.touched === true">
            <mat-error *ngIf="productFormGroup.controls.price.hasError('required')">
                Mező kitöltése kötelező
            </mat-error>
        </div>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Darabszám</mat-label>
            <input type="number" matInput formControlName="quantity">
        </mat-form-field>
        <div *ngIf="productFormGroup.controls.quantity.touched === true">
            <mat-error *ngIf="productFormGroup.controls.quantity.hasError('required')">
                Mező kitöltése kötelező
            </mat-error>
        </div>
    </div>
    <div>
        <button routerLink="/settings/product" mat-raised-button matDialogClose>Vissza</button>
        <button color="primary" [disabled]="!productFormGroup.valid" (click)="editProduct()" mat-raised-button matDialogClose>Módosítás</button>
    </div>
</form>